.container {
    display: grid;
    gap: 1rem;
}
/*grid-gap: 10px;*/
.outside{
    /*background-color: blue;*/
}
.calendar{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    /*background-color: red;*/
}

.subheader{
    display: grid;
    grid-template-columns: 50% 50%;
}

.subheader > div{
    align-items: end;
}

.react-datepicker__input-container > input{
    text-align: right;
}
