
.container {
    display: grid;
    gap: 1rem;
}
/*grid-gap: 10px;*/
.outside{
    /*background-color: blue;*/
}
.calendar{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.subheader{
    display: grid;
    grid-template-columns: 50% 50%;
}

.subheader > div{
    align-items: end;
}
.react-datepicker-wrapper{
    width: 40%;
}
.react-datepicker__input-container > input{
    text-align: right;
    width: 100%;
}

.row {
    padding-top: 10px;
}

.custom {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 360px) and (orientation: portrait){
    h1 {
        zoom: 50%;
    }
}
