
h6 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
}


.center-grid {
    place-content: center;
    display: grid;
    margin-left: 4vw;
    margin-right: 4vw;
}

.container {
    display: grid;
    gap: 1rem;
}
/*grid-gap: 10px;*/
.align-right{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.button-align-right{
    justify-content: right;
}

.button-align{
    vertical-align: top;
    margin-left: 3vh;
}

.subheader{
    display: grid;
    grid-template-columns: 50% 50%;
}

.subheader > div{
    align-items: end;
}

.header-border{
    border-bottom: 2px solid #dbe2e6;
    padding-bottom: 1vh;
}

.react-datepicker-wrapper{
    width: 60%;
}
.react-datepicker__input-container > input{
    text-align: right;
    width: 100%;
    border: 0.3vh solid #dbe2e6;
}

.row {
    padding-top: 10px;
}

.header-icon {
    color: black;
    background-color: rgb(198, 241, 109);
    border: 2px rgb(198, 241, 109);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.header-icon:hover {
    background-color: rgb(128, 156, 77);
    border-color: rgb(128, 156, 77);
}

.div-style {
    justify-content: right
}

/*.subheader {*/
/*    padding: 1rem;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 1rem;*/
/*}*/
.subheader-greet{
    flex: 2;
}

.subheader-calendar{
    flex: 2;
}

.footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:10vh;
}

.login-logout{
}

@media only screen and (max-width: 420px) and (orientation: portrait){
    h3 {
        zoom: 60%;
    }
    .login-logout {
        width: 3vh;
        height: 3vh;
    }
}

@media only screen and (min-width: 1000px){
    .nav-item {
        margin-left: 5vw;
    }

}

@media only screen and (min-width: 1280px){
    .nav-item {
        margin-left: 12vw;
    }

}


